# Class II - Iterables
## Python's inherent `data structures`
- Lists (recap)
- Tuples
- Dicts
- Sets

## Lists
- **Ordered sequence** of elements

- **Mutable** (lists support index assignment)

In [1]:
list_ex = [10, 20, 30]
print(list_ex)

[10, 20, 30]

In [2]:
print(list_ex[0])
print(list_ex[1])
print(list_ex[2])

10
20
30

In [4]:
type(list_ex[0])

int

In [5]:
list_ex[0]

10

Lists are **mutable** - we can change specific elements in lists directly:

In [6]:
list_ex[0] = 'Zero'
print(list_ex)
print(list_ex[0])
print(list_ex[1])
print(list_ex[2])

['Zero', 20, 30]
Zero
20
30

In [8]:
'abc'[0] = 'b'

TypeError: ignored

### Methods
We can use the **methods** `.append()` and `.extend()` to include **new elements** in a lista:

- `append` adds an element to the end of a list;
- `extend` adds elements from another list (or other iterable) to the end of the list.

In [10]:
list_ex

['Zero', 20, 30, 40]

In [12]:
list_ex.append(40)
print(list_ex)

['Zero', 20, 30, 40, 40, 40]

In [13]:
a = [50, 60, 60]
for element in a:
  print(element)
  list_ex.append(element)

50
60
60

In [14]:
list_ex

['Zero', 20, 30, 40, 40, 40, 50, 60, 60]

In [15]:
b = [50, 60, 60]
list_ex.extend(b)
print(list_ex)

['Zero', 20, 30, 40, 40, 40, 50, 60, 60, 50, 60, 60]

'aaaaaa'

The `.extend()` method does not flatten lists!

In [ ]:
[1, [2, 3]]
[1, 2, 3]

In [18]:
minha_extensao = [70, [80, 90]]
list_ex.extend(minha_extensao)
print(list_ex)

['Zero', 20, 30, 40, 40, 40, 50, 60, 60, 50, 60, 60, 70, [80, 90]]

We can use the `.pop()` and `.remove()` methods to remove elements from lists:

* `pop` removes an element at a given index and returns it
* `removes` finds the first occurence of an element in the list and removes that occurence.

In [21]:
list_ex.pop()
print(list_ex)

['Zero', 20, 30, 40, 40, 40, 50, 60, 60, 50, 60]

In [23]:

last_elem = list_ex.pop()
print(last_elem)
print(list_ex)

50
['Zero', 20, 30, 40, 40, 40, 50, 60, 60]

In [24]:
ultimo_elemento = list_ex.pop()
print(ultimo_elemento)
print(list_ex)

60
['Zero', 20, 30, 40, 40, 40, 50, 60]

In [25]:
primeiro_elemento = list_ex.pop(0)
print(primeiro_elemento)
print(list_ex)

Zero
[20, 30, 40, 40, 40, 50, 60]

In [26]:
type(primeiro_elemento)

str

In [27]:
print(list_ex)

[20, 30, 40, 40, 40, 50, 60]

In [28]:
list_ex.remove(30)
print(list_ex)

[20, 40, 40, 40, 50, 60]

In [32]:
list_ex.remove(20)
print(list_ex)

ValueError: ignored

### Slices

Besides *integer indexing*, lists support indexing through **slices** through the `[:]` notation, with syntax `[starting_index:ending_index]`

* `a_list[start:stop]` -> all the items in `a_list` between `start` and `end-1` indexes;
* `a_list[start:]` -> all the items in `a_list` from the `start` index to the end;
* `a_list[:stop]` -> all the items in `a_list` from the beggining to the `end` index;
* `a_list[:]` -> a copy of the entire list

In [34]:
list_ex = [10, 20, 30, 40, 40, 40, 50, 60, 70, 80]
print(list_ex)

[10, 20, 30, 40, 40, 40, 50, 60, 70, 80]

In [35]:
print(list_ex[:])

[10, 20, 30, 40, 40, 40, 50, 60, 70, 80]

In [43]:
list_ex[4:5]

[40]

In [39]:
list_ex[4]

40

In [44]:
print(list_ex[:4])

[10, 20, 30, 40]

In [46]:
list_ex

[10, 20, 30, 40, 40, 40, 50, 60, 70, 80]

In [45]:
list_ex[1:]

[20, 30, 40, 40, 40, 50, 60, 70, 80]

We can also *count backwards* through negative indexing: the index `[-1]` is the **last element** of the list, `[-2]` the second-to-last, etc...

In [47]:
list_ex[-1]

80

In [49]:
list_ex[-3:]

[60, 70, 80]

### Challenge - unpacking lists

In [50]:
list_ex = [1, [2, [3, [4]]]]
print(list_ex)

[1, [2, [3, [4]]]]

In [52]:

print(list_ex)

[1, [2, [3, [4]]]]

In [56]:
list_ex[1]

[2, [3, [4]]]

In [69]:
# Um jeito mais bonito de achatar listas
list_ex = [4, [5, [2, [1]]]]
chata = []

while len(list_ex) > 0:
    elemento = list_ex.pop()
    if type(elemento) == list:
        list_ex.extend(elemento)
    else:
        chata.append(elemento)
chata[::-1]

[5, [2, [1]]]
[2, [1]]
[1]
1
2
5
4

[4, 5, 2, 1]

## Tuples
- **Ordered sequence** of elements

- **Imutable**, do not suppport index item assignment
### Criando uma tupla

In [72]:
tupla = (10,)
print(tupla)

(10,)

In [73]:
tuple_ex = (10, 20, 30)
print(tuple_ex)

(10, 20, 30)

We can use multiple assignment to unpack a tuple (and a list!):

In [74]:
a, b, c = tuple_ex
print(a)
print(b)
print(c)

10
20
30

We can convert lists into uples and vice-versa through the `list()` and `tuple()` functions:

In [ ]:
minha_lista = [10, 20, 30]
minha_upla = tuple(minha_lista)
print(minha_lista)
print(minha_upla)
print(type(minha_upla))

In [80]:
minha_lista = (10, 20, 30)
list(minha_lista)

[10, 20, 30]

In [82]:
tuple_ex = tuple([10, 20, 30])
print(type(tuple_ex))

<class 'tuple'>

We can iterate through tuples with `for` loops:

In [ ]:
minha_tupla = (0, 1, 2, 3, 4, 5)
for i in minha_tupla:
    print(i)

## Tuple methods

- `.count()`: counts the number of times a given value occurs in a tuple;
- `.index()`: returns the first index of a given element in a tuple.

In [91]:
y = (1, 3, 7, 4, 6, 3, 8, 8, 'Pedro')
y.count(-1)

0

In [92]:
y.index(6)

4

In [94]:
x = -1
if y.count(x) > 0:
  print(y.index(x))
else:
  print(f'x = {x} not in y!')

x = -1 not in y!

In [88]:
y[6]

8

(These methods also exist in lists):

In [95]:
y_list = list(y)

In [96]:
y_list

[1, 3, 7, 4, 6, 3, 8, 8, 'Pedro']

In [97]:
y.index(8)

6

## Native functions - `sorted()`, `range()` e `len()`

- `sorted()`: Order a tuple (or any **iterable**);
- `range()`: creates an iterable from two integers.

In [98]:
y = (1, 3, 7, 4, 6, 3, 8, 8)

In [101]:
print(sorted(y, reverse=True))

[8, 8, 7, 6, 4, 3, 3, 1]

The `sorted()` function does not change the original tuple - if we want to store the sorted values we must do so explictly through *variable assignment*:

In [102]:
y

(1, 3, 7, 4, 6, 3, 8, 8)

In [103]:
y_sorted = sorted(y, reverse=True)

In [104]:
y_sorted

[8, 8, 7, 6, 4, 3, 3, 1]

In [105]:
y = sorted(y, reverse=True)

In [106]:
meu_range = range(10)
print(meu_range)

range(0, 10)

The range functions create a **lazy** iterable: to see all it's values we must convert it to a list or loop through it with a for:

In [107]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [117]:
list(range(3, 10,5))

[3, 8]

The `len()` function returns the number of elements in an **iterable**:

In [118]:
len([1, 2, 3])

3

In [119]:
len(meu_range)

10

# Dictionaries
## What is a dictionary?

In the real world, a book containing unique **words** and the different **meanings** of each word. In Python `dicts` are a collection of `key : value` pairs:

`keys`: are the **unique** words;

`values`: the meanings.

## Creating a Dictionary

- Syntax `{key1: value1, key2 : value2}`

In [126]:
my_dict = {}

In [127]:
type(my_dict)

dict

In [128]:
my_dict

{}

In [129]:
my_dict = dict()

In [130]:
type(my_dict)

dict

In [131]:
my_dict

{}

In [132]:
my_dict = {
            'Beans': 10,
            'Rice': 8,
            'Bananas': 1
          }
print(my_dict)

{'Beans': 10, 'Rice': 8, 'Bananas': 1}

In [134]:
my_dict['Bananas']

1

We can add new elements to a `dict` using **index notation**:

In [135]:
my_dict['Soybeans'] = 9
print(my_dict)

{'Beans': 10, 'Rice': 8, 'Bananas': 1, 'Soybeans': 9}

In [136]:
my_dict['Soybeans']

9

Each `key` in a `dict` **MUST BE UNIQUE**! If we try to create duplicate keys, the `dict` will simply **update** that `key`'s value:

In [139]:
my_dict = {
            'Soybeans': 10,
            'Soybeans': 8,
            'Soybeans': 1
          }
my_dict['Soybeans'] = 9
print(my_dict)

{'Soybeans': 9}

In [140]:
my_dict_list = {
    0 : [1, 2, 3],
    1 : [4, 5, 6]
}

In [141]:
my_dict_list

{0: [1, 2, 3], 1: [4, 5, 6]}

In [142]:
my_dict_list[0]

[1, 2, 3]

In [143]:
my_list = [[1,2,3], [4,5,6]]

In [145]:
my_list[1]

[4, 5, 6]

We can use this explictly to change the `values` in a `dict`:

In [146]:
my_dict = {
            'Soybeans': 10,
            'Beans': 8,
            'Rice': 1
          }

In [147]:
my_dict['Soybeans'] = 15
print(my_dict)

{'Soybeans': 15, 'Beans': 8, 'Rice': 1}

Tambm podemos guardar e utilizar os valores de um dicionrio em variveis:

In [148]:
my_dict['Soybeans']

15

In [149]:
preco_10kg_gb = my_dict['Soybeans']*10
print(preco_10kg_gb)

150

## Dictionary methods

Although a `dict` is not directly **iterable** - we can't loop through it - we can use it's methods to loop through 3 different iterables composing the `dict`

- `.values()` is a list of the different `values` in the `dict`;

- `.keys()` is a list of the different `keys` in the `dict`;

- `.items()` is a list of the different `(key, value)` pair (represented as tuples).

In [151]:
my_dict

{'Soybeans': 15, 'Beans': 8, 'Rice': 1}

In [152]:
my_dict.values()

dict_values([15, 8, 1])

In [153]:
my_dict.keys()

dict_keys(['Soybeans', 'Beans', 'Rice'])

In [154]:
my_dict.items()

dict_items([('Soybeans', 15), ('Beans', 8), ('Rice', 1)])

## Adding items to the dictionary

We can **add** a `key` to a `dict` using **index notation** (`[key_name]`):

In [155]:
my_dict['Chickpeas'] = 9

In [156]:
my_dict.keys()

dict_keys(['Soybeans', 'Beans', 'Rice', 'Chickpeas'])

In [157]:
my_dict

{'Soybeans': 15, 'Beans': 8, 'Rice': 1, 'Chickpeas': 9}

We can also use the `.update()` method to update the values and add keys to a `dict` from a different `dict

In [158]:
new_dict = dict()
new_dict['Chickpeas'] = 5
new_dict['Whole-grain Rice'] = 8.5
print(new_dict)

{'Chickpeas': 5, 'Whole-grain Rice': 8.5}

In [159]:
my_dict.update(new_dict)
print(my_dict)

{'Soybeans': 15, 'Beans': 8, 'Rice': 1, 'Chickpeas': 5, 'Whole-grain Rice': 8.5}

In [160]:
print(my_dict)

{'Soybeans': 15, 'Beans': 8, 'Rice': 1, 'Chickpeas': 5, 'Whole-grain Rice': 8.5}

We can also use different iterables to add/update values in a dictionary:

In [161]:
graos = ['White Beans', 'Syrian Chickpeas', 'White Beans']
valores = [9.50, 13, 8.50]

In [165]:
list(range(len(graos)))

[0, 1, 2]

In [166]:
for i in range(len(graos)):
    print(graos[i], valores[i])
    my_dict[graos[i]] = valores[i]

White Beans 9.5
Syrian Chickpeas 13
White Beans 8.5

In [167]:
graos[2]

'White Beans'

In [163]:
print(my_dict)

{'Soybeans': 15, 'Beans': 8, 'Rice': 1, 'Chickpeas': 5, 'Whole-grain Rice': 8.5, 'White Beans': 8.5, 'Syrian Chickpeas': 13}

We can also use multiple assignment in a `for` loop to add/update `key : value` pairs from an uple to a dict:

In [168]:
novos_precos = [('Lentilha Verde', 9), ('Abobrinha', 3), ('Beringela', 8)]

In [175]:
for produto, preco in novos_precos:
  print(produto)
  print(preco)

Lentilha Verde
9
Abobrinha
3
Beringela
8

In [176]:
for produto, preco in novos_precos:
    my_dict[produto] = preco
print(my_dict)

{'Soybeans': 15, 'Beans': 8, 'Rice': 1, 'Chickpeas': 5, 'Whole-grain Rice': 8.5, 'White Beans': 8.5, 'Syrian Chickpeas': 13, 'Lentilha Verde': 9, 'Abobrinha': 3, 'Beringela': 8}

## Values can be anything!

In [177]:
casa = dict()
casa['id'] = 1
casa['size'] = 80
casa['lot_size'] = (20, 30)
casa['address'] = dict()
casa['address']['street'] = 'Al. das Maritacas'
casa['address']['number'] = 1637
casa['address']['neigh'] = 'Cidade Jardim'
casa['address']['zip'] = 39272440
print(casa)

{'id': 1, 'size': 80, 'lot_size': (20, 30), 'address': {'street': 'Al. das Maritacas', 'number': 1637, 'neigh': 'Cidade Jardim', 'zip': 39272440}}

In [181]:
casa['address']['street']

'Al. das Maritacas'

In [ ]:
print(type(casa))
print(type(casa['lot_size']))
print(type(casa['address']))

In [ ]:
print(casa['address']['street'])

In [184]:
my_dict = dict()
my_dict[0] = dict()
my_dict[0]['Pedro'] = ['1', 2, 3]

In [185]:
my_dict

{0: {'Pedro': ['1', 2, 3]}}

In [187]:
my_dict[(1,2,3)] = 'a'

In [188]:
my_dict

{0: {'Pedro': ['1', 2, 3]}, (1, 2, 3): 'a'}

## Real world example

Dictionaries are often used to represent complex data in real-world applications. Let's see how they show up when we use an **API** to find weather data for specific cities!

In [189]:
import requests
TOKEN = 'c0c9147ec699d5205de0cbb2f5ad611c9aae0b41edeaf6092728677d06356836'
url = "https://api.ambeedata.com/weather/latest/by-lat-lng"
headers = {
    'x-api-key': TOKEN,
    'Content-type': "application/json"
    }

In [190]:
querystring = {"lat":"19","lng":"-99"}
response = requests.request("GET", url, headers=headers, params=querystring)
ql_ar_mx = response.json()

In [191]:
querystring = {"lat":"-21","lng":"-47"}
response = requests.request("GET", url, headers=headers, params=querystring)
ql_ar_pira = response.json()

In [192]:
print(ql_ar_mx)

{'message': 'success', 'data': {'time': 1666106684, 'lat': 19, 'lng': -99, 'summary': 'Overcast', 'icon': 'cloudy', 'temperature': 60.78, 'apparentTemperature': 62.6, 'dewPoint': 60.78, 'humidity': 1, 'pressure': 1018.3, 'windSpeed': 1.88, 'windGust': 3.88, 'windBearing': 87, 'cloudCover': 0.97, 'uvIndex': 3, 'precipIntensity': 0.0056, 'precipProbability': 0.11, 'precipType': 'rain', 'visibility': 10, 'ozone': 251.7}}

In [193]:
print(ql_ar_pira)

{'message': 'success', 'data': {'time': 1666106686, 'lat': -21, 'lng': -47, 'summary': 'Partly Cloudy', 'icon': 'partly-cloudy-day', 'temperature': 84.4, 'apparentTemperature': 84.4, 'dewPoint': 54.33, 'humidity': 0.36, 'pressure': 1016.2, 'windSpeed': 9.44, 'windGust': 9.44, 'windBearing': 35, 'cloudCover': 0.5, 'uvIndex': 9, 'precipIntensity': 0, 'precipProbability': 0, 'visibility': 10, 'ozone': 278.4}}

In [200]:
cur_temp = ql_ar_pira['data']['temperature']

In [201]:
cur_temp

84.4

## Iterating over a dictionary

In [205]:
for chave in casa.keys():
  print(f'{chave} is {casa[chave]}')

id is 1
size is 80
lot_size is (20, 30)
address is {'street': 'Al. das Maritacas', 'number': 1637, 'neigh': 'Cidade Jardim', 'zip': 39272440}

In [208]:
for atributo in casa.items():
  chave, value = atributo
  print(f'{chave} is {value}')

id is 1
size is 80
lot_size is (20, 30)
address is {'street': 'Al. das Maritacas', 'number': 1637, 'neigh': 'Cidade Jardim', 'zip': 39272440}

In [209]:
for valor in casa.values():
    print(valor)

1
80
(20, 30)
{'street': 'Al. das Maritacas', 'number': 1637, 'neigh': 'Cidade Jardim', 'zip': 39272440}

## Iterating over items

In [210]:
my_dict = {
            'Chickpeas': 10,
            'Beans': 8,
            'Rice': 1
          }

In [211]:
print(my_dict.items())

dict_items([('Chickpeas', 10), ('Beans', 8), ('Rice', 1)])

In [212]:
for grao, preco in my_dict.items():
    if grao == 'Beans' or grao == 'Chickpeas':
        print(preco)

10
8

In [215]:
my_dict.items()

dict_items([('Chickpeas', 10), ('Beans', 8), ('Rice', 1)])

In [213]:
for grao, preco in my_dict.items():
    if preco > 5:
      print(grao)

Chickpeas
Beans

In [214]:
for grao in my_dict.keys():
  if my_dict[grao] > 5:
    print(grao)

Chickpeas
Beans

## The `in` operator

In [219]:
5 in [1, 2, 3]

False

In [221]:
'Beans' in my_dict.keys()

True

This operator works in any iterable!

In [222]:
'abcd' in 'abc'

False

In [223]:
'abc' in 'abcd'

True

In [225]:
4 in (1, 2, 3)

False

# `sets`

Sets are collections of **unique elements** - a `dict`'s keys is a `set`!

In [226]:
my_list = ['Pedro', 'Adriano', 'Pedro', 'Adriano', 'Pedro', 'Adriano']

In [227]:
my_list

['Pedro', 'Adriano', 'Pedro', 'Adriano', 'Pedro', 'Adriano']

In [228]:
set(my_list)

{'Adriano', 'Pedro'}

We can use set conversion to find out how many unique elements an iterable has:

In [230]:
list_x = [1,2,3,4,4,4,4,4,5,6,6,6,7,7,8]

In [232]:
set_x = set(list_x)
set_x

{1, 2, 3, 4, 5, 6, 7, 8}

In [234]:
len(set_x)

8

In [235]:
print(f'Size of the list: {len(list_x)}, size of the set: {len(set_x)}')

Size of the list: 15, size of the set: 8

## `set` methods

- `A.intersection(B)` common elements between sets A & B;
- `A.difference(B)` elements in A not in B;
- `A.union(B)` the set of all elements in A or in B.

In [236]:
x = {1, 2, 3, 4, 5, 6, 7, 8}

In [237]:
y = {6, 7, 8, 9, 10, 11, 12}

In [238]:
x.intersection(y)

{6, 7, 8}

In [239]:
y.intersection(x)

{6, 7, 8}

In [240]:
x.difference(y)

{1, 2, 3, 4, 5}

In [241]:
y.difference(x)

{9, 10, 11, 12}

In [242]:
x-y # x.difference(y)

{1, 2, 3, 4, 5}

In [243]:
y-x # y.difference(y)

{9, 10, 11, 12}

In [244]:
x.union(y)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}

In [245]:
(x-y).union(y-x)

{1, 2, 3, 4, 5, 9, 10, 11, 12}

In [246]:
x.symmetric_difference(y)

{1, 2, 3, 4, 5, 9, 10, 11, 12}

In [250]:
x = set([1,2,3])
y = set([1, 2])

In [252]:
x.issubset(y)

False

In [255]:
# Practical example
col_names = set(['qtd_cartoes', 'vlr_cartao','qtd_cheques','vlr_cheques', 'total_revenue'])
incoming_col_names = set(['qtd_cartoes', 'vlr_cartao','qtd_cheques','vlr_cheques'])

# print(f'Missing columns: {set(col_names) - set(incoming_col_names)}')

missing_columns = col_names.difference(incoming_col_names)

print(f'Missing columns: {missing_columns}')

Missing columns: {'total_revenue'}

In [ ]:
my_dict.values()

In [256]:
a_set = set([1, 2, 3])

In [257]:
a_set

{1, 2, 3}

In [258]:
my_dict = {}

In [265]:
my_dict[a_set] = 'Ha!'

TypeError: ignored

In [266]:
my_dict

{(1, 2, 3, 4): 'Ha!'}

In [260]:
a_set.add(4)

In [261]:
a_set

{1, 2, 3, 4}